aside {
	color: #FF8D00;
	background-color: #ccc;
	width: 20%;
	display: inline-block;
}
section{
	width: 100%;
	display: flex;
}
div{
	width: 79%;
	display: none;
}
img {
	height : auto;
}
img.img_header {
	height : 400px;
}
img.imgfond {
	width: 100%;
	opacity: 0.3;
}
span.text{
	display: inline;
}
div.img_cadre{
	display: inline-block;
}
img.CodeTemplier{
	height: 5%;
	width: 40%;
	margin-left: 5%;
}

div.img_container {
	display: flex;
}
.micro_multiple {
	margin-left: 2%;
}
.mini_multiple {
	margin-left: 5%;
}
.big_multiple {
	margin-left: 10%;
}
.hyper_multiple {
	margin-left: 15%;
}
.mini_mono {
	margin-left: 20%;
}
.little_mono{
	margin-left: 25%;
}
.big_mono {
	margin-left: 30%;
}
.hyper_mono{
	margin-left: 35%;
}
.super_mono {
	margin-left: 40%;
}
img.short {
	width : 20%;
}
img.long{
	width: 30%;
}
.hyper_img {
	height: 15%;
}
.big_img {
	height : 7%;
}
.little_img{
	height: 5%;
}
.mini_img {
	height: 4%;
}
.micro_img {
	height: 3%;
}
.nano_img {
	height: 2%;
}
div.petite{
	height: 100%;
}
button {
	border: none;
	height: 4%;
	width: 28%;
	text-align: center;
	margin-right: 5%;
	font-size: 100%;
	background-color: #ccc;
}

.button_PA{
		transition: display;		
}
.div_button {
	width: 100%;
}
header {
	background-color: #ccc;
}

.WriteOnImg {
	position: absolute;

}

p, h3, .page, ol, h4{
	text-indent: 3%;
	margin-left: 7%;
}
h2 {
	text-align: center;
}
.home_site, .list{
	margin-left: 0%;
}
.home {
	display: inline-block; 
}
.Menu{
	margin-bottom: 5%;
	cursor: pointer;
}
footer{
	background: rgba(200, 200, 200, 1.2);
	width: 100%;
	display: block;
	height: 5%;
}
img.footer{
	z-index: 0;
	cursor: pointer;
	height: 100%;
	margin-bottom: 1%;
	margin-top: 1%;
	position: static;
}
div.footer{
	width: 10%;
	position: relative;
	top: 55%;
	left: 20%;
	transform: translate(-50%, -50%);
	transition: 0.3s ease-in-out;
	z-index: 0;
	overflow: hidden;
	cursor: pointer;
	display: inline-block;
	height: 90%;
	margin-right: 20%;
}
span.footer{
	display: block;
	position: absolute;
	color: white;
	background: black;
	width: 100%;
	opacity: 0;
	transition: 0.3s ease-in-out;
	z-index: 1;
	cursor: pointer;
	height: 100%;
}
div.text_footer{
	display: block;
	text-align: center;
	font-size: 150%;
}
div.footer:hover span.footer {
opacity: 0.8;
transform: translate(0, -100%);
}
.button{
	cursor: pointer;
}
img.div_button {
	height: 110%;
	width: 10%;
}
.purple{
	background-color: purple;
}

.brown{
	background-color: brown;
}

.blue{
	background-color: rgba(025, 25, 112, 0.95);
	color: #FFD700;
}

.red{
	background-color: red;
}

.green{
	background-color: green;
}

.Technique{
	background-color: green;
}

.Livre{
	background-color: royalblue;
}

.Progression{
	background-color: yellow;
}